# Proyecto
PROJECT_NAME=TutorIA Academico
ENVIRONMENT=development
DEBUG=True

# Backend
BACKEND_PORT=8000
DJANGO_SECRET_KEY=change-me-in-local
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Frontend
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:8000/api

# Base de datos
POSTGRES_DB=tutoria_academico
POSTGRES_USER=tutoria_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432

# IA futura
OPENAI_API_KEY=
EMBEDDING_MODEL=text-embedding-3-small
CHAT_MODEL=gpt-4o-mini

# Archivos
MEDIA_ROOT=/app/media
