project_name        = "tutoria-academico"
environment         = "production"
vps_ip              = "187.77.30.81"
ssh_user            = "yoje"
project_path        = "/srv/tutoria-academico"
app_domain          = "tutoria.centromedicolosencinos.tech"
app_port            = 8088
internal_app_url    = "http://127.0.0.1:8088"
public_app_url      = "https://tutoria.centromedicolosencinos.tech"
backup_path         = "/srv/tutoria-academico/backups"
docker_compose_file = "docker-compose.prod.yml"
ci_cd_provider      = "GitHub Actions"
repository_url      = "URL_DEL_REPOSITORIO"
